<div class="container">
  <section class="section-one">
    <img
      class="container-image"
      src="../../assets/angular.svg"
      alt="Programmers"
    />
    <div class="container-inner">
      <h1 class="headline-angular">Angular</h1>
      <p class="paragraph">
        With Angular, you're taking advantage of a platform that can scale from
        single-developer projects to enterprise-level applications. Best of all,
        the Angular ecosystem consists of a diverse group of over 1.7 million
        developers, library authors, and content creators.
      </p>
      <a class="learn" href="https://angular.io/" target="_blank">Learn more</a>
    </div>
  </section>
  <section class="section-two">
    <img class="container-image" src="../../assets/vue.svg" alt="Code" />
    <div class="container-inner">
      <h1 class="headline-vue">Vue</h1>
      <p class="paragraph">
        Vue is a JavaScript framework for building user interfaces. It builds on
        top of standard HTML, CSS, and JavaScript and provides a declarative and
        component-based programming model that helps you efficiently develop
        user interfaces, be they simple or complex.
      </p>
      <a class="learn" href="https://vuejs.org/" target="_blank">Learn more</a>
    </div>
  </section>
</div>
