<div class="container">
  <img
    class="container-image"
    src="../../assets/frameworks.svg"
    alt="frameworks"
  />
  <div class="container-inner">
    <h1 class="headline">
      Elevate Your Front-End Development with Power and Efficiency!
    </h1>
    <p class="paragraph">
      At their most basic, JS frameworks are collections of JavaScript code
      libraries that provide developers with pre-written JS code to use for
      routine programming features and tasks—literally a framework to build
      websites or web applications around.
    </p>
    <a class="btn" routerLink="/features">Start</a>
  </div>
</div>
